<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>{{ page.title }}</title>
</head>

<body>
	<div id="div1">
		<img id="img0" src="/image/title.png" alt="can not found"/>
	</div>
	<div id="div2">
		<h1 id="h1_1">Saucebing's Blog</h1>
	</div>
	<div id="div3">
		<table id="table0">
		<tr id="tr0">
		<td id="td0">
		{{ content }}
		</td>
		<td id="td1">
		<!--Hello World-->
		</td>
		</tr>
		</table>
	</div>
</body>
</html>
